@CHARSET "ISO-8859-1";

body {
    background-color: white;
    margin: 0;
    padding: 0;
}

table, th, tr, td {
   border: 1px black;
   text-align:left;
   align:left;
   font-weight: bold;
   font-family: serif;
   width: 400px
}

h1{
	text-align: center;
}

select{
	float: right;
	position: relative;;
	right: 1px;
}

button{
	float: right;
	position: relative;;
	right: 100px;
}

input{
	float: right;
	position: relative;;
	right: 1px;
}

form {
    width: 600px;
    margin: 0 auto;
    text-align: left;
}